#landingPage {
	background-color: rgba(0, 0, 0, .60);
}

body {
	background-image: url(https://images.unsplash.com/photo-1479030160180-b1860951d696?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#gmap_canvas {
	height: 50vh;
	width: 100%;
	border-radius: 20px;
}

.fa-icons {
	font-size: 2rem;
}