*   {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#jespic {
    border-radius: 50%;
}

@media (max-width: 991px) {
    #list1 {
        order: 2;
    }
    #list2 {
        order: 1;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}


.contactForm {
    width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #3A3B3C;
}

.contactForm .inputBox {
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin: 2px 0;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #3A3B3C;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {

    font-size: 1px;
    transform: translateY(-20px);

}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #565051;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    margin-top: 10px;
}

@media (max-width: 991px) 
{
    .contact
    {
        padding: 50px;
    }
    #containercontact
    {
        flex-direction: column;

    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm

    {
        width: 100%;
    }
}